@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.topnav {
    background-color: #ceb814ff;
    overflow: hidden;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(170, 153, 20);
    color: black;
  }

body{
    font-family: 'Raleway';
    background-color:#5d646b;
}
.hero-image{
    background-image: url(./Images/better\ hero\ img.png);
    height: 150px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: block;
    position: fixed;
}

.hero-text{
    color: black;
    text-align: center;
    top: 180px;
    width: 100%;
    font-size: 4rem;
    margin-top: 37px;
}

.two-column{
    width: 75%;
    height: auto;
    margin: auto;
    padding-top: 300px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
}

img{
    display: block;
    width: 900px;
    padding-right: 100px;
}

p{
    margin-top: ;
    font-family: 'Raleway';
    font-size: 25px;
   
}

h1{
    font-family: 'Raleway';
    font-size: 35px;
    
}