@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Raleway';
}
.hero-image{
    background-image: url(./Images/better\ hero\ img.png);
    height: 150px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    background-size: auto;
}

.hero-text{
    color: black;
    text-align: center;
    top: 180px;
    width: 100%;
    font-size: 4rem;
    margin-top: 25px;
}

.two-column{
    width: 50%;
    height: auto;
    margin: auto;
    padding-top: 300px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
}

img{
    display: inline-block;
}

p{
    font-family: 'Raleway';
}